PORT=5000
MONGO_URL=mongodb+srv://<username>:<password>@cluster.mongodb.net/intervuiq
NODE_ENV=development
CLIENT_URL=http://localhost:5173

# Inngest
INNGEST_EVENT_KEY=your_inngest_event_key
INNGEST_SINGING_KEY=your_inngest_signing_key

# Stream
STREAM_API_KEY=your_stream_api_key
STREAM_API_SECRET=your_stream_api_secret
